@{
    ViewData["Title"] = "Contact Page";
}
@model WebsiteConverter.Models.ContactViewModel

<main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Here is my contact information. If you have any questions about my work or a business inquiry or opportunity please reach out!</p>
            </div>

            <!--<div>
              <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
            </div>-->

            <div class="row mt-5">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>123 Sesame Street, NYC, NY 10108</p>
                        </div>
                        <br>

                        <div class="linkedin">
                            <i class="bi bi-link justify-content-evenly"></i>
                            <h4>Social Network</h4>
                            <p><a href="https://www.linkedin.com/in/steve-rogers-b2427679/" class="linkedin">LinkedIn</a></p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>steverogers1215@outlook.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>1-618-857-5309</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">

                    <form asp-action="Contact" class="email-form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input asp-for="Name" class="form-control" placeholder="Name"/>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input asp-for="Email" class="form-control" placeholder="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input asp-for="Subject" class="form-control" placeholder="Subject">
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <textarea asp-for="Message" class="form-control"rows="5" placeholder="Message"></textarea>
                        </div>

                        @*<div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>*@
                        <br />
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
