@{
    ViewData["Title"] = "Resume";
}
<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Resume</h2>
                <p>Below is a summary of the last five years of my work history, but you are more than welcome to a PDF version of my full <a href="\images\StevenRogersResumeIT.pdf">resume</a>.</p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4>Steven Rogers</h4>
                        <p><em>I've worked as an analytics/data "type" for the past decade. From data analysis, systems management, supplier on-boarding, sourcing and now fullstack web development. I've managed to wear many hats during my career. </em></p>
                        <p>
                            <ul>
                                <li>St.Louis, MO</li>
                                <li>1-(618)-867-5309</li>
                                <li>steverogers1215@outlook.com</li>
                            </ul>
                        </p>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Fullstack Web Development Course</h4>
                        <h5>Feb 2023 - May 2023</h5>
                        <p><em>Centriq Training , St. Louis, MO</em></p>
                        <p>Currently enrolled! Projected graduation is 19 May 2023.</p>
                    </div>
                    <div class="resume-item">
                        <h4>Bachelor of Applied Science | Supply Chain & Logistics Management</h4>
                        <h5>Oct 2012 - Nov 2016</h5>
                        <p><em>Bellevue University, Bellevue, NE</em></p>
                        <p>The curriculum during the course of study involved describing and identifying supply chain driver metrics and to evaluate those drivers. Also, we learned how to analyze the design, planning and activities of logistics networks supporting domestic and international operations. Finally, we formulated a framework for a viable and sustainable supply chain and defended it by identifying and addressing relevant drivers</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Full Stack Developer</h4>
                        <h5>2023 - Present</h5>
                        <p><em>Fairview Heights, IL </em></p>
                        <p>
                            <ul>
                                <li>As much as I'd love to have this space populated I'm still in training!</li>

                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4>Procurement Analyst</h4>
                        <h5>2017 - 2022</h5>
                        <p><em>The Boeing Company, St. Louis, MO</em></p>
                        <p>
                            <ul>
                                <li>Drove completion of SAP Cloud Integration Gateway migration two weeks early - responsible for procuring and organizing all business unit resources needed for (S/4 Hana & MDG) testing.</li>
                                <li>Successfully concluded six-month project of moving ACP (Access Control Policy) data to SAP GRC (Governance & Risk Compliance) module - the GRC system now hold real-time updates to all SAP ACP data and eases the burden on role approvers and content owners.</li>
                                <li>Assisted as SAP Ariba/S/4HANA Deployment Hypercare SME, provided business process guidance impacting 8k+ end users.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->

</main><!-- End #main -->
